@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Raphael F Alves</h1>
            <p>
                Olá! Sou Raphael, desenvolvedor .NET que contribui planejando, desenvolvendo e mantendo projetos de grande escala, que alcanção mais de 3 mil pessoas por dia e faturando mais de 6 digitos. Tenho certeza de que juntos não temos limites. 👩🏾‍🚀
            </p>
            <div>
                <a href="https://github.com/raphaelfalves" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/raphaelfalves" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/programador.png" width="100%" height="100%"/>
        </div>
    </div>
</div>